@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Scripts/antd/antd.min.css" rel="stylesheet" />
</head>
<body>
</body>
</html>
