
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <span class="btn btn-primary btn-block add-manager">添加管理员</span>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">管理员</h3>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-striped" id="list"></table>
                    <div class="tabel-operate" id="batchOperate">
                        <button type="button" class="btn btn-default btn-sm" onclick="BatchDelete()"><i class="far fa-trash-alt"></i></button>
                    </div>
                </div>
                <div class="card-footer clearfix">
                </div>
            </div>
        </div>

    </div>
</div>

<div class="dialog-form" id="addManagerform" style="display:none">
    <div class="form-group" id="UserNameDiv">
        <label class="label-inline fl" for="">用户名</label>
        <input class="form-control input-sm" type="text" id="UserName" name="UserName">
    </div>
    <div class="form-group">
        <label class="label-inline fl mr14" for="">密码</label>
        <input class="form-control input-sm" type="password" id="PassWord" name="PassWord">
    </div><div class="form-group" id="roleGroupDiv">
        <label class="label-inline fl" for="">权限组</label>
        <select class="form-control input-sm" id="RoleId" name="RoleId"></select>
    </div>
</div>

@section  Scripts{

    <script src="~/Scripts/DataGrid.js"></script>

    <script type="text/javascript">

        $(function () {

            query();

            //添加管理员
            $('.add-manager').click(function () {
                LoadAddBox();
            });

        });

        function query() {
            $("#list").MZcmsDatagrid({
                url: './list',
                nowrap: false,
                rownumbers: true,
                NoDataMsg: '没有找到符合条件的数据',
                border: false,
                fit: true,
                fitColumns: true,
                pagination: true,
                idField: "Id",
                pageSize: 10,
                pageNumber: 1,
                queryParams: {},
                toolbar: /*"#goods-datagrid-toolbar",*/'',
                operationButtons: "#batchOperate",
                columns:
                    [[
                        { checkbox: true, width: 60 },
                        { field: "Id", hidden: true },
                        { field: "UserName", title: '管理员' },
                        { field: "CreateDate", title: '创建日期' },
                        { field: "RoleName", title: '权限组' },
                        {
                            field: "operation", operation: true, title: "操作",
                            formatter: function (value, row, index) {
                                var id = row.Id.toString();
                                var roleid = row.RoleId.toString();
                                var username = row.UserName.toString();
                                var html = ["<span class=\"btn-group\">"];
                                html.push("<a class=\"btn btn-default btn-sm\" onclick=\"ChangePassWord('" + id + "','" + username + "','" + roleid + "');\">修改</a>");
                                if (row.RoleId != 0) {
                                    html.push("<a class=\"btn btn-default btn-sm\" onclick=\"Delete('" + id + "');\">删除</a>");
                                }
                                html.push("</span>");
                                return html.join("");
                            }
                        }
                    ]]
            });
        }

        function Delete(id) {
            $.dialog.confirm('确定删除该条记录吗？', function () {
                var loading = showLoading();
                $.post("./Delete", { id: id }, function (data) { $.dialog.tips(data.msg); query(); loading.close(); });
            });
        }

        function BatchDelete() {
            var selectedRows = $("#list").MZcmsDatagrid("getSelections");
            var selectids = new Array();

            for (var i = 0; i < selectedRows.length; i++) {
                selectids.push(selectedRows[i].Id);
            }
            if (selectedRows.length == 0) {
                $.dialog.errorTips("你没有选择任何选项！");
            }
            else {
                $.dialog.confirm('确定删除选择的管理员吗？', function () {
                    var loading = showLoading();
                    $.post("./BatchDelete", { ids: selectids.join(',') }, function (data) { $.dialog.tips(data.msg); query(); loading.close(); });
                });
            }
        }

        var pwdreg = /^[^\s]{6,20}$/;
        function ChangePassWord(id, username, roleid) {

            LoadRoleList(function () {
                $("#UserName").val(username).attr("disabled", true);
                $("#PassWord").val("");
                if (roleid != 0) {
                    $("#roleGroupDiv").show();
                    $("#RoleId").val(roleid);
                }
                else {
                    $("#roleGroupDiv").hide();
                }
            });

            $.dialog({
                title: '修改密码',
                lock: true,
                id: 'ChangePwd',
                width: '450px',
                content: document.getElementById("addManagerform"),
                padding: '0 40px',
                okVal: '确定',
                init: function () {
                    $("#PassWord").focus();
                },
                ok: function () {
                    var loading = showLoading();
                    var SelectedRoleId = $("#RoleId").val();
                    if (SelectedRoleId == null)
                        SelectedRoleId = 0;
                    var password = $("#PassWord").val();
                    if ($.trim(password) != "") {
                        if (!pwdreg.test(password)) {
                            $.dialog.errorTips("密码6-20位字符，不能包含空格！");
                            loading.close();
                            return false;
                        }
                    }
                    $.post("./ChangePassWord",
                        { id: id, password: password, roleid: SelectedRoleId },
                        function (data) {
                            loading.close();
                            if (data.success) {
                                $.dialog.tips("修改成功", function () { if (roleid != 0 && roleid != SelectedRoleId) query(); });
                                $("#password").val("");
                            }
                            else
                                $.dialog.errorTips("修改失败:" + data.msg);
                        });
                }
            });
        }

        function LoadAddBox() {
            LoadRoleList(function () {
                $("#UserNameDiv").show();
                $("#UserName").val("").removeAttr("disabled");
                $("#roleGroupDiv").show();
                $("#PassWord").val("");
                $("#RoleId").val("")
            })
            $.dialog({
                title: '添加管理员',
                id: 'addManager',
                content: document.getElementById("addManagerform"),
                lock: true,
                okVal: '确认添加',
                padding: '0 40px',
                init: function () {
                    $("#UserName").focus();
                },
                ok: function () {
                    var roleId = $("#RoleId").val();
                    var username = $("#UserName").val();
                    var password = $("#PassWord").val();
                    if (roleId == null) {
                        $.dialog.errorTips("请选择权限组，如果无权限组请先添加！");
                        return false;
                    }
                    if (!CheckAdd(username, password))
                        return false;
                    AddManage(username, password, roleId);
                }
            });
        }

        function LoadRoleList(callback) {
            if ($("#RoleId option").length > 0) {
                callback();
                return;
            }
            var loading = showLoading();
            var result = false;
            $.ajax({
                type: 'post',
                url: 'RoleList',
                cache: false,
                async: true,
                data: {},
                dataType: "json",
                success: function (data) {
                    loading.close();
                    $(data).each(function (index, item) { $("#RoleId").append("<option value=" + item.Id + ">" + item.RoleName + "</option>") });
                    callback();
                },
                error: function () {
                    loading.close();
                }
            });
        }

    </script>

}

