
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <span class="btn btn-primary btn-block add-manager">添加管理员</span>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">管理员</h3>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-striped" id="list"></table>
                    <div class="tabel-operate" id="batchOperate">
                        <button type="button" class="btn btn-default btn-sm" onclick="BatchDelete()"><i class="far fa-trash-alt"></i></button>
                    </div>
                </div>
                <div class="card-footer clearfix">
                </div>
            </div>
        </div>

    </div>
</div>

<div class="dialog-form" id="addManagerform" style="display:none">
    <div class="form-group" id="UserNameDiv">
        <label class="label-inline fl" for="">用户名</label>
        <input class="form-control input-sm" type="text" id="UserName" name="UserName">
    </div>
    <div class="form-group">
        <label class="label-inline fl mr14" for="">密码</label>
        <input class="form-control input-sm" type="password" id="PassWord" name="PassWord">
    </div><div class="form-group" id="roleGroupDiv">
        <label class="label-inline fl" for="">权限组</label>
        <select class="form-control input-sm" id="RoleId" name="RoleId"></select>
    </div>
</div>

@section  Scripts{
    <script src="~/Scripts/DataGrid.js"></script>
    <script src="~/Areas/Admin/Scripts/ManagerManagement.js"></script>
}

